.list-div {
    margin-top: 10px;
    .arrow-icon {
        border: 0px;
        margin: 3px 2px 6px;
    }
    .news-title {
        color: #000000;
        font-size: 17px;
        font-weight: 500;
    }
    .number-cls {
        color: #828282;
        font-weight: 500;
        font-size: 17px;
        display: inline-block;
        width: 30px;
    }
    .sub-heading {
        font-size: 12px;
        color: #828282;
        margin-top: 5px;
        margin-left: 54px;
        span {
            margin: 5px;
            cursor: pointer;
        }
    }
}

.p-5 {
    padding: 5px;
}

.content-background {
    background: #f6f6ef;
    border-bottom: 1px solid #d7d7d3;
}

.news-heading {
    font-size: 16px;
    color: black;
    cursor: pointer;
    font-weight: 700;
    .domain-cls {
        color: #828282;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
}