<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 header-col">
            <img src="https://news.ycombinator.com/y18.svg" width="22" height="22" style="border:1px white solid; display:block" />
            <label>Hacker News</label>
            <span>new</span>
        </div>
    </div>
    <div class="list-div" infinite-scroll (scrolled)="onScroll()" *ngIf="newsToDisplay?.length">
        <ng-container *ngFor="let list of newsToDisplay;let i = index">
            <div class="row align-items-start p-5 content-background">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 news-heading" (click)="gotoDetailPage(list)">
                    <span class="number-cls">{{ ( i + 1 ) }}.</span>
                    <span class="arrow-icon">
                        <img src="https://news.ycombinator.com/triangle.svg" width="14" height="14" />
                    </span>
                    <span class="news-title">
                        {{list.title}}
                    </span>
                    <span *ngIf="list?.domain" class="domain-cls" (click)="filterRecords(list?.domain)">({{list?.domain}})</span>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 sub-heading">
                    {{list.score}} point by {{list.by}}
                    <span> | hide | past | discuss</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>
