/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

.container {
    margin: auto;
    width: 85%;
}
.header-col {
    background-color: #ff6600;
    color: black;
    height: 32px;
    display: flex;
    margin-top: 12px;
    img {
        margin: 4px;
    }
    label {
        font-size: 17px;
        font-weight: bold;
        margin: 5px;
    }
    span {
        color: white;
        margin: 5px;
        margin-left: 10px;
        font-size: 17px;
        cursor: pointer;
    }
}