<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 header-col">
            <img src="https://news.ycombinator.com/y18.svg" width="22" height="22" style="border:1px white solid; display:block" />
            <label>Hacker News</label>
            <span (click)="gotoNewsList()">new</span>
        </div>
    </div>
    <div class="content-background" *ngIf="newsDetails">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news-heading">
                <span class="arrow-icon">
                    <img src="https://news.ycombinator.com/triangle.svg" width="14" height="14" />
                </span>
                <label>{{newsDetails.title ||''}}</label>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 score-div">
                <p> {{newsDetails.score || ''}} point by {{newsDetails.by || ''}}
                    <span *ngIf="time">{{time}} ago</span>
                    <span> | hide</span>
                    <span> | past</span>
                    <span> | favorite</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-line-height">
                <textarea [(ngModel)]="comment" rows="10" cols="120"></textarea>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-line-height">
                <button>add comment</button>
            </div>
        </div>

    </div>
</div>