.content-background {
    padding: 5px;
    background: #f6f6ef;
    border-bottom: 1px solid #d7d7d3;
    .news-heading {
        margin-top: 20px;
        font-size: 17px;
        color: #828282;
        font-weight: 500;
        display: flex;
        label {
            margin-left: 8px;
        }
    }
    .score-div {
        color: #828282;
        font-size: 12px;
        margin-top: -5px;
        margin-left: 22px;
        span {
            cursor: pointer;
        }
    }
}
p {
    word-break: break-word;
}
.text-line-height {
    line-height: 20px;
    color: #828282;
    margin-left: 20px;
    textarea {
        min-width: 200px;
        width: 60%;
    }
    button {
        height: 30px;
        font-family: monospace;
        font-size: 12pt;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}